{% load static %}
<div class="footer-shipping pt-60 pb-55 pb-xs-25">
    <div class="row">
        <!-- Begin Li's Shipping Inner Box Area -->
        <div class="col-lg-3 col-md-6 col-sm-6 pb-sm-55 pb-xs-55">
            <div class="li-shipping-inner-box">
                <div class="shipping-icon">
                    <img src="{% static 'images/shipping-icon/1.png' %}" alt="Shipping Icon">
                </div>
                <div class="shipping-text">
                    <h2>Free Delivery</h2>
                    <p>And free returns. See checkout for delivery dates.</p>
                </div>
            </div>
        </div>
        <!-- Li's Shipping Inner Box Area End Here -->
        <!-- Begin Li's Shipping Inner Box Area -->
        <div class="col-lg-3 col-md-6 col-sm-6 pb-sm-55 pb-xs-55">
            <div class="li-shipping-inner-box">
                <div class="shipping-icon">
                    <img src="{% static 'images/shipping-icon/2.png' %}" alt="Shipping Icon">
                </div>
                <div class="shipping-text">
                    <h2>Safe Payment</h2>
                    <p>Pay with the world's most popular and secure payment methods.</p>
                </div>
            </div>
        </div>
        <!-- Li's Shipping Inner Box Area End Here -->
        <!-- Begin Li's Shipping Inner Box Area -->
        <div class="col-lg-3 col-md-6 col-sm-6 pb-xs-30">
            <div class="li-shipping-inner-box">
                <div class="shipping-icon">
                    <img src="{% static 'images/shipping-icon/3.png' %}" alt="Shipping Icon">
                </div>
                <div class="shipping-text">
                    <h2>Shop with Confidence</h2>
                    <p>Our Buyer Protection covers your purchasefrom click to delivery.</p>
                </div>
            </div>
        </div>
        <!-- Li's Shipping Inner Box Area End Here -->
        <!-- Begin Li's Shipping Inner Box Area -->
        <div class="col-lg-3 col-md-6 col-sm-6 pb-xs-30">
            <div class="li-shipping-inner-box">
                <div class="shipping-icon">
                    <img src="{% static 'images/shipping-icon/4.png' %}" alt="Shipping Icon">
                </div>
                <div class="shipping-text">
                    <h2>24/7 Help Center</h2>
                    <p>Have a question? Call a Specialist or chat online.</p>
                </div>
            </div>
        </div>
        <!-- Li's Shipping Inner Box Area End Here -->
    </div>
</div>