
<!doctype html>
<html class="no-js" lang="zxx">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'fontend/partials/_css.html' %}
</head>
<body>
    <!-- Begin Body Wrapper -->
    <div class="body-wrapper">

        <!-- Begin Header Area -->
        {% include 'fontend/partials/header.html' %}
        <!-- Header Area End Here -->
        {% block content %}


        {% endblock %}
        <!-- Begin Footer Area -->
        <div class="footer">
            <!-- Begin Footer Static Top Area -->
            <div class="footer-static-top">
                <div class="container">
                    <!-- Begin Footer Shipping Area -->
                    {% include 'fontend/partials/footer_shopping.html' %}
                    <!-- Footer Shipping Area End Here -->
                </div>
            </div>
            <!-- Footer Static Top Area End Here -->

            <!-- Begin Footer Static Middle Area -->
            {% include 'fontend/partials/footer_static.html' %}
            <!-- Footer Static Middle Area End Here -->

        </div>
        <!-- Footer Area End Here -->
    </div>
    <!-- Body Wrapper End Here -->
    <!-- jQuery-V1.12.4 -->
{% include 'fontend/partials/_js.html' %}
</body>

<!-- index30:23-->
</html>