{% extends 'fontend/base.html'%}
{% block title %}Home Page{% endblock %}
{% block content %}
    <!-- Begin Slider With Banner Area -->
    {% include 'fontend/partials/slider_with_banner_area.html' %}
    <!-- Slider With Banner Area End Here -->

    <!-- Begin Product Area -->
    {% include 'fontend/partials/begin_product_area.html' %}
    <!-- Product Area End Here -->

    <!-- Begin Li's Static Banner Area -->
    {% include 'fontend/partials/lis_static_banner.html' %}
    <!-- Li's Static Banner Area End Here -->

    <!-- Begin Li's Laptop Product Area -->
    {% include 'fontend/partials/begin_laptop_product_area.html' %}
    <!-- Li's Laptop Product Area End Here -->

    <!-- Begin Li's TV & Audio Product Area -->
    {% include 'fontend/partials/tv_and_audio_product.html' %}
    <!-- Li's TV & Audio Product Area End Here -->

    <!-- Begin Li's Static Home Area -->
    {% include 'fontend/partials/static_home_area.html' %}
    <!-- Li's Static Home Area End Here -->

    <!-- Begin Li's Trending Product Area -->
    {% include 'fontend/partials/trending_product.html' %}
    <!-- Li's Trending Product Area End Here -->

    <!-- Begin Li's Trendding Products Area -->
    {% include 'fontend/partials/trandding_products.html' %}
    <!-- Li's Trendding Products Area End Here -->

{% endblock %}